.mine-container {
  width: 100vw;
  height: 100vh;
  display: flex;

  & .navbar {
    width: 75px;
    height: 100vh;
    background-color: #1e1e2f;
    border-right: 2px solid white;
    display: flex;
    flex-direction: column;

    .navbar-link {
      width: 75px;
      height: 75px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid white;
      cursor: pointer;
      background-color: #1e1e2f;
      transition: 1s all;

      &:hover {
        background-color: #2a2a40;
      }

      & button {
        all: unset;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }

      & img {
        width: 90%;
        height: 90%;
        object-fit: cover;
        display: flex;
      }
    }
  }

  & .content {
    flex: 1;
    height: 100vh;
    background-color: #1e1e2f;
    display: flex;
    flex-direction: column;

    & .player-info {
      width: 100%;
      height: 30px;
      background-color: #1e1e2f;
      border-bottom: 2px solid white;
      display: flex;
      justify-content: flex-end;

      & .resources {
        display: flex;
        align-items: center;

        & span {
          margin-right: 5px;
          margin-left: 5px;
        }

        & img {
          width: 24px;
          height: 24px;
        }
      }
    }

    & #mine {
      background-color: red;
      height: calc(100vh - 30px);

      & img {
        width: calc(100% - 5px);
        height: calc(100% - 5px);
        object-fit: fill;
      }
    }
  }
}
